.course-post-thumb figure
{
	margin-bottom:20px;
}


/* reponsive media query csss */
@media (min-width: 320px) and (max-width:479px){
.footer ul {text-align:center;}
.btn-one{font-size:12px;}
.header-upper .top-left li { margin-right: 10px;}
.header-upper .top-left {display: block; text-align: center;}
.header-upper .top-right .button-top {margin-left: 0px; display: block; text-align: center; margin-top: 8px; margin-bottom: 10px; margin-right:62px;}
.counter{border:1px dotted #fff;}
.counter-title{text-align:center;}
.counter h3{font-size:30px;}
.contact-colmun{margin-bottom:35px;}
}
@media (min-width: 480px) and (max-width:599px){
.btn-one{font-size:12px;}
.header-upper .top-left li { margin-right: 10px;}
.header-upper .top-left {display: block; text-align: center;}
.header-upper .top-right .button-top {margin-left: 0px; display: block; text-align: center; margin-top: 8px; margin-bottom: 10px; margin-right:62px;}
}
}
@media (min-width: 600px) and (max-width:767px)
 {
    }
@media (min-width: 768px) and (max-width:991px){

}
@media only screen and (max-width: 991px){
.contact-colmun{margin-bottom:35px;}
.footer-margin{margin-bottom:30px;}
.header-upper .top-left li { margin-right: 10px;}
.header-upper .top-left {/*display: block;*/ text-align: center;}
.header-upper .top-right .button-top {margin-left: 0px; display: block; text-align: center; /*margin-top: 8px; margin-bottom: 10px;*/}
}

@media (min-width: 992px) and (max-width:1199px)
 {
  }
