@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
 

body {
  font-family: 'Lato', sans-serif;
  color:#555;
  letter-spacing:1px;
}

p
{
  font-family:'lato', sans-serif;
  font-size:15px;
  color:#555;
}
h1, h2, h3, h5, h6
{
  font-family:'Roboto', sans-serif;
}
a:hover
{
  text-decoration: none;
}
ul, li {
    
    padding: 0;
    margin: 0px;
}
/*==============================
=            Header            =
==============================*/
.bottom-header {
    /*padding: 15px 0 15px;*/
}
.bottom-header.affix {
 
    box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4);
}

.affix {
    position: fixed;
    z-index: 999999;
    left: 0;
    right: 0;
    top: 0;
    background-color: #ffffff;
}

/*.top-bar {
    background: #fff;
    padding: 12px 0;
    border-bottom: 1px solid #f5f5f5;
}*/
.header-upper {
    position: relative;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
    padding: 0px 0px;
}
.header-upper .top-left {
    position: relative;
    display: inline-block;
    padding:8px 0 0;
}
.header-upper .top-left li {
    position: relative;
    display: inline-block;
    font-size: 13px;
    font-family: 'lato',sans-serif;
    line-height:13px;
    color:#696969;
    margin-right: 41px;
}
.header-upper .top-right {
    position: relative;
    float: right;
}
.header-upper .top-right .button-top {
    margin-left: 16px;
    position: relative;
    display: inline-block;
}
.style-one {
    background: #f6b129;
    position: relative;
}

.btn-one {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    background:#f57411;
    border:1px solid #f57411;
    padding: 8px 30px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    z-index: 1;
}
.btn-one:hover
{
  background-color:#fff;
  color:#f57411;
}
.contact-info ul {
    padding: 0;
    margin: 0;
}

.contact-info li {
    display: inline-block;
    color:#696969; 
    padding:10px;
    font-size: 13px;
}
 
.contact-info li i { 
    font-size: 12px;
    color: #696969;
  transition: all 0.3s ease-in-out;
}

.contact-info li i:hover {
  color: #E10814;
}

.top-header {
  padding: 8px 0;
  background: #fff;
}

.logo {
  padding: 12px 0;
}

.logo img {
  max-width: 300px;
}

.social-icon {
  padding-top: 16px;
}
 
@media (max-width: 490px) { 
  .mobile {
    width: 100%;
  } 

  .social-icon {
  padding-top: 0px;
    float: none!important;
    text-align: center;
  }
}

.social-icon ul {
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    color: #fff; 
    padding: 0 8px;
    font-size: 13px;
}
 
.social-icon li i { 
    font-size: 12px;
    color:#f57411;
  transition: all 0.3s ease-in-out;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border: 1px solid #f57411;
  border-radius: 50%;
}

.social-icon li i:hover {
  color: #696969;
}


@media (max-width: 340px) {

.logo img {
  max-width: 240px;
}
}
.site-info {
  margin-top: 10px;
}

.site-info ul {
  list-style: none;
} 
.site-info li {
  color: #fff;
} 
.site-info li i {
  font-size: 24px;
  margin-right: 6px;
  color: #3D8EB9;
} 

@media (max-width: 596px) {    
  .site-info {  
    display: none;
  } 
}
.navbar {
  height: 40px!important;
  min-height: 48px;
  margin-bottom: 0;
} 
.nav .navbar-nav {
  background: #000!important;
}

@media (max-width: 768px) {    
  .navbar {
    height: inherit!important;
  } 
}
.nav>li>a { 
  padding: 14px 14px; 
  color: #fff!important;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
} 
.nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {  
  background: #fff !important;
  color:#f57411 !important;;
}
.navbar-default {
    background-color:#f57411;
    border: 0;
    border-radius: 0;
}
.navbar-default .navbar-toggle {
  border: 0;
  padding: 0;
  color: #fff;
  margin-top: 13px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: none;
}
@media (max-width: 991px) {
  .nav>li>a {  
    color: #fff!important;
    font-size: 13px;
  }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 8px;
}

/*=====================================
=            Dropdown Menu            =
=====================================*/
.navbar-nav>li>.dropdown-menu {
    margin-top: 0px!important;
    margin-right: 14px!important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #eee;
    padding: 0;
    border: 1px solid #fff;
    box-shadow: none;
  text-transform: uppercase;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #fff;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color:#f57411;
    text-decoration: none;
    background-color:rgba(245, 116, 17, 0.7)!important;;
}

@media (min-width: 768px) {

.nav>li:hover .dropdown-menu {
    display: block;
}

.navbar-nav>li>.dropdown-menu { 
    background:rgba(245, 116, 17, 0.7);
    border:1px solid rgba(245, 116, 17, 0.7);
    display: none;
    transform: scale(1.0);
    transition: all 0.8s ease-in-out;
}

.navbar-default .navbar-nav>.open>a{
    color: #fff!important;
    background: none!important;
  transition: all 0.3s ease-in-out;
}

}

.navbar-nav>li>.dropdown-menu li a {
    padding: 10px!important;
    color: #fff;
  transition: all 0.3s ease-in-out;
}

.dropdown-menu li:hover a {
    background:#fff !important;
    color: #f57411!important;
    padding: 10px;
}

.appointment
{
    background:#f57411 none repeat scroll 0 0;
    color: #ffffff;
    border:1px solid #f57411;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    padding: 10px;
    text-transform: capitalize;
}
.appointment a
{
  color:#fff;
}
.appointment:hover
{
   background:transparent;
}
.appointment a:hover
{
    color: #f57411;
    text-decoration: none;
    outline: none;
}
/*=====  End of Dropdown Menu  ======*/
 

/*=====  End of Header  ======*/



/*=================================
=            Banner            =
=================================*/

.banner { 
}

.item img {
  max-width: 100%;
    }

.glyphicon-chevron-left:before {
  content: "\f104";
  font-family: 'fontawesome'; }

.glyphicon-chevron-right:before {
  content: "\f105";
  font-family: 'fontawesome'; }

.carousel-control.left {
  background-image: none; }

.left.carousel-control {
  width: auto;
  left: 60px; }

.right.carousel-control {
  width: auto;
  right: 60px; 
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  left: 0;
  margin-left: 0!important;  
  color: #fff;
  background: #000;
  width: 40px;
  height: 64px;
  line-height: 56px;
}

@media (max-width: 1200px) {
  .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {  
  }
}

@media (max-width: 991px) {
  .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {  
    display: none;
  }
}


.left.carousel-control {
  left: 0;
}

.right.carousel-control {
  right: 0;
}
 
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev { 
  right: 0;
  margin-right: 0!important;  
  color: #fff; 
  background: #000;
  width: 40px;
  height: 64px;
  line-height: 56px;
}

@media (max-width: 1200px) {
  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev {  
  }
}

@media (max-width: 991px) {
  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev {  
    display: none;
  }
}
 
.carousel-caption {
    position: absolute;
    text-align: left!important;
    right: 0!important; 
    left: 28%;  
    background: #fff;
    padding: 20px;
}

@media (max-width: 991px) {
  .carousel-caption {
    left: 15%;
  }
}

@media (max-width: 767px) {
  .carousel-caption {
    display: none;
  }
}

.carousel-caption h1 { 
  font-family:'Roboto', sans-serif;
  color:#f57411; 
  letter-spacing:1px;
  font-weight:500;
  font-size: 20px; 
  margin: 0;
  text-shadow: none;
}

.carousel-caption p { 
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 10px 0 0;
  color: #555; 
  font-size: 14px; 
  font-weight: 400;
  text-shadow: none;
}

.carousel-caption {
    width: 600px;}

.carousel-indicators { 
    display: none;}

.carousel-caption a {
  background: #FF0080!important;
  border-radius: 0;
  color: #fff;
  padding: 10px 28px;
  font-size: 16px;
  font-family: 'open sans';
  font-weight: 400;
}

/*=====  End of Banner  ======*/

/*=============================
=            about            =
=============================*/

.about {
  padding: 60px 0;
}
h2.color-title
{
    display: inline-block;
    font-size: 14px;
    font-weight:500;
    color: #FFF;
    background:#f57411;
    margin: 0;
    padding: 0 15px;
    line-height: 28px;
    text-transform:uppercase;
}

.info h4 {
      font-size: 20px;
    font-family: "Roboto";
    color:#354b65;
    font-weight:500;
    line-height: 1.4;
    margin: 20px 0;
  /*  margin: 0;
    padding-bottom: 6px;
    font-size: 28px;
    font-weight: 500;
    font-family:'Roboto', sans-serif;
    color: #555;*/
}


.info p {
  padding-top: 10px;
  font-size:15px;
  text-align:justify;
}

.info h4 span {
  color:#f57411;
  font-weight:600;
}

.info img {
  width: 100%;
  box-shadow: -2px 3px 5px 1px #777;
}


/*=====  End of about  ======*/


/*===============================
=            services            =
===============================*/
.akashi-services
 {
  border: 1px solid #f1f0f0;
  transition: .5s;
 }
 .akashi-services a
 {
  color:#354b65;
 }
 .akashi-services:hover
 {
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
.services { 
  padding: 0 0 60px 0;
}

.service {
  text-align: center;
  padding:20px;
}

.service i {
  font-size: 40px;
  transition: all 0.3s ease-in-out; 
  color:#f57411;
}

.service h4 {
  font-size: 18px;
  padding-top: 18px;
  color:#555;
}

.service:hover h4 {
  color: #f57411;
}

.service p {
  color: #666;
}

.service:hover i {
  transform: rotate(45deg); 
}


/*=====  End of services  ======*/

/*===============================
=            Courses            =
===============================*/

.courses {
  background: #f4f4f4;
  padding: 60px 0;
}

.courses h4
{
  font-size:20px;
  font-family: "Roboto";
  color: #555;
  font-weight:500;
  line-height: 1.4;
  margin: 20px 0;
}
.courses h4 span {
  font-weight: 600;
  color:#f57411;
}

.course {
  background: #fff;
  margin-top: 40px;
  overflow: hidden;
}

.course img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.course:hover img {
  transform: scale(1.05);
}

.course-dtl {
  padding: 20px;
}

.course h4 {
  margin: 0;
  padding-bottom: 6px;
  font-weight:500;
}

.course p {
  color: #777;
  font-size:14px;
}

.course a {
  text-decoration: none;
  color: #444;
  text-transform: uppercase;
  color: #666;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
} 

.course a:hover {
  color: red;
}

a.akashi-btn
{
    background: #f57411;
    color: #fefefe;
    font-size: 13px;
    font-weight: 400;
    padding: 7px 12px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: 1px solid #f57411;
}
a.akashi-btn:hover
{
  background-color:transparent;
  color:#f57411;
}

/*=====  End of Courses  ======*/

/*===============================
=            newsevents            =
===============================*/

.newsevents {
  background: #fff;
  padding: 60px 0;
}
.newsevents h4
{
  font-size: 20px;
  font-family: "Roboto";
  color: #555;
  font-weight: 500;
  line-height: 1.4;
  margin: 20px 0;
}
.newsevents h4 span {
  font-weight: 600;
  color:#f57411;
}

.newsevent {
  background: #fff;
  margin-top: 40px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.newsevent img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.newsevent:hover img {
  transform: scale(1.05);
}

.newsevent-dtl {
  padding: 20px; 
}

.newsevent-dtl h4 {
  margin: 0;
  padding-bottom: 10px;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
}

.newsevent-dtl p {
  padding-top: 6px;
  color: #777;
  font-size:14px;
}

.newsevent-dtl a {
  text-decoration: none;
  color: #555;
  font-size: 17px;
  font-weight:500;
  transition: all 0.3s ease-in-out;
} 

.newsevent-dtl a:hover {
  color:#f57411;
}

.newsevent-dtl ul {
  margin: 0;
  color: #777;
}

.newsevent-dtl ul li {
  padding-left: 0;
  color:#f57411;
}

/*=====  End of newsevents  ======*/


/*==partner slider==*/
.customer-logos .slick-slide img:hover
{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*==============================
=            footer            =
==============================*/
.footer {
  padding: 60px 0;
  background: #fff;
}

.footer h4 {
  color:#f57411;
  font-size: 16px;
  border-bottom: 1px solid #f57411;
  padding-bottom: 14px;
  text-transform: uppercase;
  margin: 0 0 14px 0;
  font-weight:bold;
  font-family: 'Poppins',sans-serif;
}
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");

.social-btns{
    font-size: 22px;
    list-style: none;
}

.social-btns li{
    margin-bottom: 5px;
}

.social-btns li i{
    font-size: 22px;
}

.social-btns .btn-facebook {
  background-color: #38519f;
  border-color: #293b75;
  color: #ffffff;
  min-width: 250px;
}

.social-btns .btn-facebook:hover {
  color: #ffffff;
  background-color: #293b75;
}

.social-btns .btn-twitter {
  background-color: #00a8fa;
  border-color: #048cce;
  color: #ffffff;
  min-width: 250px;
}

.social-btns .btn-twitter:hover {
  color: #ffffff;
  background-color: #048cce;
}

.social-btns .btn-linkedin {
  background-color: #00629e;
  border-color: #044a75;
  color: #ffffff;
  min-width: 250px;
}

.social-btns .btn-linkedin:hover {
  color: #ffffff;
  background-color: #044a75;
}

.social-btns .btn-google {
  background-color: #df270b;
  border-color: #a01b03;
  color: #ffffff;
  min-width: 250px;
}

.social-btns .btn-google:hover {
  color: #ffffff;
  background-color: #a01b03;
}

.social-btns .btn-tumblr{
    background-color: #274665;
    border-color: #182b3d;
    color: #ffffff;
    min-width: 250px;
}

.social-btns .btn-tumblr:hover {
  color: #ffffff;
  background-color: #182b3d;
}

.social-btns .btn-pinterest{
    background-color: #cc0000;
    border-color: #9b0404;
    color: #ffffff;
    min-width: 250px;
}

.social-btns .btn-pinterest:hover {
  color: #ffffff;
  background-color: #9b0404;
}
.footer p {
  color: #fff;
}

@media (max-width: 767px) {
  .footer h4 {
    margin-top: 28px;
    text-align: center;
  }
}

@media (max-width: 678px) {
  .footer h4 {
    margin-top: 28px;
  }
}

.footer ul {
  padding: 0; 
  list-style: none;
}

@media (max-width: 991px) {
  .footer ul { 
   
  }
}

.footer ul li {
  padding: 2px 0;
  color: #555;
  font-size: 14px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer ul li a:hover {
  color:#f57411;
  text-decoration: none;
}

.footer .clear {
  clear: both;
}


.footer ul li i { 
  width: 36px;
  height: 36px;
  padding-top: 12px;
  text-align: center;
  margin-right: 8px;
}

.footer ul li i:hover { 
  color: #fff;
  background: #DC6D42;
}

li.fb i {
  background: #3b5998;
}
li.tweet i {
  background: #55acee;
}
li.gplus i {
  background: #dd4b39;
}

ul.social {
  padding: 0 0 0 6px;
}

.bottom-footer {
  background: #111;
  color: #fff;
}

.bottom-footer p {
  margin: 0;
  padding: 16px 0;
  text-align: center;
  font-size: 14px;
  background-color:#354b65;
  color:#fff;

}

.bottom-footer p a {
  color:#9c9898;
}


/*=====  End of footer  ======*/
 .breadcrumb {
    padding: 30px 0;
    margin-bottom: 0;
    list-style: none;
    background: none!important;
    border-radius: 0;
    font-style: italic;
}

/*===========================
=            Tab            =
===========================*/
.content {
  padding: 20px 0;
}

.partner {
  background: #f5f5f5;
  padding: 60px 0;
}

@media (max-width: 767px) {
  .partner img {
    width: 100%;
    padding-top: 16px;
}
}


.partner h2 span {
  font-weight:bold;
  color:#f57411;
} 

.partner img {
  width: 100%;
}

/*=====  End of Tab  ======*/

/*==============================
=            single            =
==============================*/

.single {
  padding: 0 0 40px 0;
}

.single-img { 
  height: 300px;
  overflow: hidden;
}

@media (max-width: 480px) {

  .single-img { 
    height: 180px!important;
    overflow: hidden;
  }

}

.single img {
  width: 100%;
}

.single h4 {
  font-size: 24px;
  font-weight: 600;
  padding: 10px 0;
}

.single p {
  color: #666;
}



.single-img {
  width: auto;
  height: 300px;
  overflow: hidden;
}

.single iframe {
  width: 100%;
}


/*=====  End of single  ======*/



/*-------------Scroll to top--------------*/
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #ccc;
  color: #444;
  width: 40px;
  height: 40px;
  line-height: 40px;
  right: 22px;
  bottom: 40px;
  padding-bottom: 2px; 
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }

.scroll-top-wrapper:hover {
  opacity: 1 !important;
  background: #DC6D42;
  color: #fff;
   }

.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1.0; }

.scroll-top-wrapper i.fa {
  line-height: inherit; }
 
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/*==style for counter*/
.counter-bg {
    background: url(../images/banner/banner1.jpg);
    background-size: cover;
}

.section-pb {
    padding-bottom: 30px;
}
.section-pt-80 {
    padding-top: 30px;
}
.bluewood-bg-overlay {
    position: relative;
}
.counter-title {
    margin-top: 30px;
}
.counter-title h4 {
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
}
.counter-title h2 {
    font-size:35px;
    line-height: 50px;
    font-weight: 700;
    color:#f57411;
    margin-bottom: 0;
}
.project-count-area .counter p {
    color: #ffffff;
    text-transform: uppercase;
}
.cont-two .counter p {
    margin-bottom: 15px;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}
.project-count-area .counter h3 {
    color:#f57411;
}

.counter h3 {
    font-size: 35px;
    font-weight: 700;
}
.bluewood-bg-overlay::before {
    background: rgba(70, 90, 112, 0.9);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


/*=== style for testimonial */
h2 {
    color: #4C4C4C;
    word-spacing: 5px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom:30px;
    font-family: 'Raleway', sans-serif;
}

.ion-minus{
    padding:0px 10px;
}

blockquote{
      border:none;
}

blockquote p{
    font-size:14px;
}

#testimonial  #carousel{
  margin:30px 0px;
}

#testimonial .left.carousel-control{
  display: inline-block;
    position: absolute;
    top:100%;
  left:20%;
  font-size:35px;
  font-weight:bolder;
  color:#f57411; 
}

#testimonial .right.carousel-control{
  display: inline-block;
    position: absolute;
    top:100%;
  right:20%;
  font-size:35px;
  font-weight:bolder;
  color:#f57411; 
}

#testimonial .fa.fa-quote-right{
  color:#f57411;
  font-size:13px; 
  padding-right:10px;
}

section#testimonial{
    background:#fbfbfb;
    padding:60px 0px;
    font-family: 'Raleway', sans-serif;
}
section#testimonial h4 span
{
      font-weight: 600;
    color: #f57411;
}
blockquote .small, blockquote footer, blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #f57411;
    font-weight: 800;
}

/*style for aboutus page*/
.about-detailpage h3
{
  font-size:40px;
}

.about-detailpage p
{
  margin-bottom:40px;
}

/*style for schools page*/

.no-padding {
    padding: 0;
}
.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel .row, .lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}
.box-shadow:hover
{
  box-shadow:0px 25px 45px 0px rgba(0, 0, 0, 0.15)
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}
.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight:bold;
    letter-spacing: 1px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row {
    padding: 0 20px 0 20px;
    color: #555;
}
.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color:#f57411;
    margin: 7px 0 7px 0;
}
.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
    color:#cac4c4;
    letter-spacing: 1px;
    line-height: 21px;
}

.lib-panel .lib-row {
    padding: 0 20px 0 20px;
    color: #555;
}
a.readmore {
    display: inline-block;
    font-size: 14px;
    color: #f57411;
    font-weight: 700;
    padding-right: 16px;
    margin-bottom: 16px;
    font-family: 'Poppins',sans-serif;
    text-shadow: none;
}
a.readmore:hover
{
  color:#0f3661;
}

/*style for study in Japan*/
.underline h1, .course-post-title h1
{
  font-size: 24px;
  text-align: justify;
}
.underline h1:after
{
    content: '';
    display: block;
    width: 68px;
    height: 2px;
    background:#f57411;
    border-radius: 25%;
    /* margin: auto; */
    margin-top:10px;
    margin-bottom: 18px;
}
.separateline
{
    content: '';
    display: block;
    width: 68px;
    height: 2px;
    background:#f57411;
    border-radius: 25%;
     margin: auto; 
    margin-top:10px;
    margin-right:411px;
    margin-bottom: 18px;
}


/*style for course-detail*/
.underline p, .course-post-title p
{
text-align:justify;
}
.course-post-list-wrap {
    margin: 15px 0;
    /* padding: 0 35px; */
}
.course-post-thumb {
    margin: 0 15px 0 0;
}
.course-post-thumb figure {
    max-width:100%;
}
.related_features h2 {
    font-family: 'lato', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: bold;
}
.related_features h2:after
{
    content: '';
    display: block;
    width: 68px;
    height: 2px;
    background: #f57411;
    border-radius: 25%;
    /* margin: auto; */
    margin-top:10px;
    margin-bottom: 18px;
}
.course-list li a {
    font-size: 15px;
    font-weight: 400;
    color: #222;
}
.course-list li a {
    font-size: 15px;
    font-weight: 400;
    color: #222;
}
.course-list li {
    list-style-type: none;
    color: #aaa;
    padding: 6px 0px;
}
.course-list li a:before {
    content: '\f105';
    font-family: 'FontAwesome';
    color:#f57411;
    padding-right: 8px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.background-bg {
    background-color: #f57411;
    padding:10px;
}
.background-bg h3 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
}
.background-bg p {
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.appoint0btn {
    margin-top: 35px;
    margin-bottom: 15px;
}
a.akashi-btn {
    transition: 0.3s;
   /* box-shadow: 0 50px #fff inset;*/
    font-family: 'lato', sans-serif;
    color: #555;
    border-radius: 0px;
    padding: 10px 30px;
    font-size: 12px;
    background: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
a.akashi-btn:hover
{
  background:#f57411 !important;;
  color:#fff;
  border: 1px solid #fff;
}

/*  gallery */

.gallery-title{
    font-size: 36px;
    color: #3F6184;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.filter-button{
    font-size: 18px;
    border: 2px solid #3F6184;
  padding:5px 10px;
    text-align: center;
    color: #3F6184;
    margin-bottom: 30px;
  background:transparent;
}
.filter-button:hover,
.filter-button:focus,
.filter-button.active{
    color: #ffffff;
    background-color:#3F6184;
  outline:none;
}
.gallery_product{
    margin: 0px;
  padding:0;
  position:relative;
}
.gallery_product .img-info{
  position: absolute;
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
  overflow:hidden;
  color:#fff;
  top:0;
  display:none;
     -webkit-transition: 2s;
    transition: 2s;
}

.gallery_product:hover .img-info{
  display:block;
   -webkit-transition: 2s;
    transition: 2s;
    background-color:rgba(245, 116, 17, 0.72);
}
.img-info p
{
  color:#fff;
}

/*  end gallery */


/*style contact page*/
.contact-form-area input {
    height: 45px;
    margin-bottom: 20px;
}

input, textarea {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 15px 20px;
    color: #848484;
    font-size:14px;
    border: 1px solid #d9d9d9;
    margin-bottom: 18px;
    background: transparent;
    transition: all 900ms ease;
}
.contact-form-area textarea {
    resize: none;
    height: 170px;
    margin-bottom: 21px;
}

.contact_addr  h4 {
    color: #f57411;
    font-size: 16px;
    border-bottom: 1px solid #f57411;
    padding-bottom: 14px;
    text-transform: uppercase;
    margin: 0 0 14px 0;
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
}
.contact_addr ul {
    padding: 0;
    list-style: none;
}
.contact_addr ul li {
    padding: 2px 0;
    color: #555;
    font-size: 14px;
}
.trollfree_num {

    background: #f57411;
    font-size: 14px;
    margin-right: 0;
    font-weight: 700;
    padding-bottom: 12px;
    text-align: center;
    color: #fff;
    padding-top: 12px;
    width: 75%;
    margin-bottom: 12px;
}
.trollfree_num p i {
    color: #fff;
    font-size: 19px;
}
.trollfree_num p {
  font-weight:400;
    color: #fff;
    font-size: 14px;
    font-family: 'lato', sans-serif;
    margin-bottom: 0px !important;
}

/*css for sidebar icon*/
@import url(http://weloveiconfonts.com/api/?family=entypo);

#sticky-social {
   left: 0;
   position: fixed;
   top: 325px;
   z-index:1;
}
#sticky-social a {
   background: #333;
   color: #f57411;
   display: block;
   height: 40px;
   font: 16px "Open Sans", sans-serif;
   line-height:46px;
   position: relative;
   text-align: center;
   width: 40px;
}
#sticky-social a span {
    line-height:41px;
    left: -264px;
    position: absolute;
    text-align: center;
    width: 264px;
    height: 40px;
    top:-1px;
    font-size:14px;
}
#sticky-social a i
{
    font-size:24px;
    color:#f57411;
}
#sticky-social a:hover span {
   left: 100%;
}
#sticky-social a[class*="facebook"],
#sticky-social a[class*="facebook"]:hover,
#sticky-social a[class*="facebook"] span {background: #fff;
    border: 1px solid #f57411;     border-left:transparent; }


    /*Pages Banner */


.aboutus-banner {
 /* background: #444;*/
    background: linear-gradient(rgba(255, 152, 0, 0.29), rgba(245, 116, 17, 0.3)), url(../images/breadcumb-banner/6.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top:45px;
    padding-bottom:45px;
}

.aboutus-banner h2 {
  color: #fff;
  margin: 0;
  padding: 40px 0;
  font-size: 40px;
}
.Contact-banner {
 /* background: #444;*/
    background: linear-gradient(rgba(255, 152, 0, 0.29), rgba(245, 116, 17, 0.3)), url(../images/breadcumb-banner/3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top:45px;
    padding-bottom:45px;
}

.Contact-banner h2 {
  color: #fff;
  margin: 0;
  padding: 40px 0;
  font-size: 40px;
}
.appointment-banner {
 /* background: #444;*/
    background: linear-gradient(rgba(255, 152, 0, 0.29), rgba(245, 116, 17, 0.3)), url(../images/breadcumb-banner/7.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top:45px;
    padding-bottom:45px;
}

.appointment-banner h2 {
  color: #fff;
  margin: 0;
  padding: 40px 0;
  font-size: 40px;
}
.studyinjapan-banner {
 /* background: #444;*/
    background: linear-gradient(rgba(255, 152, 0, 0.29), rgba(245, 116, 17, 0.3)), url(../images/breadcumb-banner/5.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top:45px;
    padding-bottom:45px;
}

.studyinjapan-banner h2 {
  color: #fff;
  margin: 0;
  padding: 40px 0;
  font-size: 40px;
}
.institution-banner {
 /* background: #444;*/
    background: linear-gradient(rgba(255, 152, 0, 0.29), rgba(245, 116, 17, 0.3)), url(../images/breadcumb-banner/5.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top:45px;
    padding-bottom:45px;
}

.institution-banner h2 {
  color: #fff;
  margin: 0;
  padding: 40px 0;
  font-size: 40px;
}
.courses-banner {
 /* background: #444;*/
    background: linear-gradient(rgba(255, 152, 0, 0.29), rgba(245, 116, 17, 0.3)), url(../images/breadcumb-banner/4.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top:45px;
    padding-bottom:45px;
}

.courses-banner h2 {
  color: #fff;
  margin: 0;
  padding: 40px 0;
  font-size: 40px;
}
.gallery-banner {
 /* background: #444;*/
    background: linear-gradient(rgba(255, 152, 0, 0.29), rgba(245, 116, 17, 0.3)), url(../images/breadcumb-banner/2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top:45px;
    padding-bottom:45px;
}

.gallery-banner h2 {
  color: #fff;
  margin: 0;
  padding: 40px 0;
  font-size: 40px;
}
.service-detailbanner {
 /* background: #444;*/
    background: linear-gradient(rgba(255, 152, 0, 0.29), rgba(245, 116, 17, 0.3)), url(../images/breadcumb-banner/7.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top:45px;
    padding-bottom:45px;
}

.service-detailbanner h2 {
  color: #fff;
  margin: 0;
  padding: 40px 0;
  font-size: 40px;
}






